Types of python to run

1. Immediate mode - cmd- python
2. Script mode - python file.py
3. IDE - Integrated Developement environment- spyder, pycharm, jupyter notebook

In [2]:
#single line Comment

""" Multiple line comment 
    This is to give description about the underlying code
"""
#print("Hi")

' Multiple line comment \n    This is to give description about the underlying code\n'

In [4]:
#Keywords

#break = 2

#Identifiers

#Identifier is a name given to entities like class, functions, variables
a = 4

a1 = 34

# 1. can be in alphabet with range of a to z
# 2. can be in range of A to Z
# 3. should not start with digits
# 4. should not be keywords
# 5. cannot use special symbols !,@,#,$,%
global b

b = 6
print (b)
#a$ = 7

6

In [8]:
#Statements

a = 1 #assigngment statement

print (a)

#Multiple Statement
a = 1 + 2 +3 + 4 + \
    2 + 4 +\
    3 + 4
    
print(a)

a = (2 + 5 + 3 + 3 +
     2 + 5 + 6
     + 4)
print(a)


#Multiple Assigngment statement
a = 54; b = 43; c = 42;

print(a,c,b)

a, b, c = 3.2,4,"Hello"

print(a,b,c)

a =b = c= "same data"

print(a,b,c)

a = c = 3
print (a,b,c)

1
23
30
54 42 43
3.2 4 Hello
same data same data same data
3 same data 3

In [11]:
a,b,c=2,3.4,"ds"

c = 'a'
type(c)

str

In [1]:
# Case sensitive language

data = 5
Data = 6

print(data)
print(Data)

5
6

In [15]:
#Indentation


for i in range(1,11,2):
    print(i)
    if(i==5):
        print("Inside if loop")
        break     
    print("Inside for loop")    
    
if True:
    print("Hi")
        

if True: print("Hello"); a =34; print(a)

1
Inside for loop
3
Inside for loop
5
Inside if loop
Hi
Hello
34

In [16]:
for a in range(5):
    print(a)
    print("inside for")
    if(a==4):
        break
    
print("out of for")

0
inside for
1
inside for
2
inside for
3
inside for
4
inside for
out of for

In [17]:
a = 5
print("a is of type", type(a))

a = 4.35
print("a is of type", type(a))

a = "Hello"
print("a is of type", type(a))

a = 1+2j
print("a is of type", type(a))

isinstance("dcfsd",str)

a is of type <class 'int'>
a is of type <class 'float'>
a is of type <class 'str'>
a is of type <class 'complex'>

True