In [1]:
#Conversion of data types

num  = 5.5

print ('The type of num before conversion : ',type(num))

#Conversion
num = int(num)
print(num)
print ('The type of num after conversion : ',type(num))

flag = 0
print ('The type of flag :',type(flag),flag)
truFalse = bool(flag)
print ('The type of trueFalse ',type(truFalse),truFalse)

The type of num before conversion :  <class 'float'>
5
The type of num after conversion :  <class 'int'>
The type of flag : <class 'int'> 0
The type of trueFalse  <class 'bool'> False

In [2]:
print (int(-10.754))

print (float(10))

#conversion
abc = 123

print('The type of abc before conversion : ',type(abc),abc)
abc = str(abc)
print('The type of abc after conversion : ',type(abc),abc)
print(abc)

print (int(10.899))

-10
10.0
The type of abc before conversion :  <class 'int'> 123
The type of abc after conversion :  <class 'str'> 123
123
10

In [3]:
#Conversion should be compatible values

int('a')

ValueError: invalid literal for int() with base 10: 'a'

In [ ]:
#Set conversion
a = [11,1,1,2,2,3,3,4,4,5,5,5,6,6,6,7]

print (a)
print (len(a))
print('The type of a before conversion : ',type(a))

#Conversion
a = set(a)

print (a)
print (len(a))
print('The type of a after conversion : ',type(a))

In [ ]:
a = [1,3,4,5,6,4,32,8,6,9]
a
print('The type of a before conversion : ',type(a))
print (a)

a[2] = 53
a

a = tuple(a)

print('The type of a after conversion : ',type(a))
print (a)
a[2] = 100

In [ ]:
a = 'Hello, How are you!'
print(a)

#a[2] = 'r'
print('The type of a before conversion : ',type(a))
print (a[2])

a = list(a)
print(a)
print('The type of a after conversion : ',type(a))

a[2] = 'r'
print(a)

In [ ]:
b = dict([[1,2],[3,4]])
print(b)
list1 = ['a',[1,2,3,4]]
list2 = ['b',[2,643,34]]

d = dict([list1,list2])

print(d)

In [ ]:
print?

In [4]:
#Input and Output formatting

a = 4

print("The value of a is : ",a)

print(1,2,3,4)

#print(object,sep='',end='',file=sys.stdout,flush=False)

print(1,2,3,4,sep=',')

print(1,2,3,4,sep=',',end=';**')

print('\n')

x = 5

y = 10

print('The value of x is {} and y is {}'.format(x,y))


print('The value of x is {0} and y is {1}'.format(x,y))

print('The value of x is {1} and y is {0}'.format(x,y))

print('The value of x is {0} and y is {1}'.format(y,x))

print('Hello {name}, {greeting}'.format(greeting='Good Morning',name='Python Tutor'))


num = input('Enter the number:')
print (num)

The value of a is :  4
1 2 3 4
1,2,3,4
1,2,3,4;**

The value of x is 5 and y is 10
The value of x is 5 and y is 10
The value of x is 10 and y is 5
The value of x is 10 and y is 5
Hello Python Tutor, Good Morning
Enter the number:5
5

In [5]:
print('The value of x is {0} and y {1} is {2}'.format(x,y,x+y))

The value of x is 5 and y 10 is 15

In [8]:
a = input('Enter the your name ')
b = input('Enter the your age ')

print('Type of a is ',type(a))
print('Type of b is ',type(b))

#a = int(a)
b = int(b)
print("Data Convertion")
print('Type of a is ',type(a))
print('Type of b is ',type(b))


#c = a+b
if b < 6:
    c = "You are not allowed to watch this movie"
else:
    c = "You can watch this movie"
print(c)
print('Movie GateKeeper Says: Person {0} of Age {1} that "{2}"'.format(a,b,c))

Enter the your name Jane
Enter the your age 15
Type of a is  <class 'str'>
Type of b is  <class 'str'>
Data Convertion
Type of a is  <class 'str'>
Type of b is  <class 'int'>
You can watch this movie
Movie GateKeeper Says: Person Jane of Age 15 says "You can watch this movie"